/* styles.css */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightslategray;
}

main {
    background-color: lightseagreen;
}

.icons {
    height: 20px;
}

.about, .projects, .contact {
    max-width: 96vw;
    margin: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.about-section {
    display: flex;
}

.about {
    border: 2px solid lightblue;
}

.about-image {
    max-width: 15vw;
}

.projects {
    border: 2px solid lightgreen;
}

.contact-section {
    display: flex;
    justify-content: space-between;
}

.contact {
    border: 2px solid lightpink;
}

.contact-image {
    max-width: 25vw;
}