/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #282A38;
    font-family: 'Roboto Mono', monospace;
}

main {
    background-color: white;
}

h2 {
    font-size: 5vh;
    padding-bottom: 4vh;
}

h3 {
    font-size: 2.5vh;
}

.about, .projects, .contact {
    margin: auto;
}

.projects, .contact {
    max-width: 88vw;
}

/* diagonal background */
.about {
    margin: auto;
    margin-top: -8vw;
    padding-top: 9vh;
    padding-bottom: 1vw;
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateY(-125px) skewY(-13deg);
    background-color: transparent;
}

.about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 87%; 
    background-color: #282A38;
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* about content section */
.about-content {
    max-width: 88vw;
    margin-top: 30vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: skewY(13deg);
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
}

.image-text {
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.about-image {
    max-height: 80vh;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-text {
    background-color: white;
    font-size: 3vh;
    margin-top: 8vh;
    margin-bottom: 6vh;
    padding: 6vh 3.5vw 1.5vw 1.5vw;
    flex: 1;
    color: #555555;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-icon-container {
    display: flex;
    flex-shrink: 0;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 80px;
    right: 20px;
    padding-right: 1.75vw;
}

.about-icons {
    height: 5vh;
    margin: 0.75vw;
}

/* project content section */
.projects {
    padding-bottom: 9vh;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
    padding-bottom: 2vh;
}

.project-card {
    max-width: 27vw;
    padding-bottom: 2vh;
    margin-bottom: 2.5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #555555;
}

.project-image {
    max-width: 27vw;
    transition-duration: 0.4s;
}

.project-image:hover {
    filter: brightness(50%);
}

.project-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top: 1.5vh;
    color: black;
}

.project-card-header, .project-desc {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.project-icon-container {
    display: flex;
    flex-shrink: 0;
}

.project-icons {
    height: 3vh;
    margin-left: 0.5vw;
}

.project-desc {
    font-size: 2.25vh;
    padding-top: 1vh;
    padding-bottom: 1.5vh;
}

/* contact content section */
.contact {
    padding-top: 9vh;
    padding-bottom: 9vh;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 3vh;
}

.contact-text {
    padding-right: 5vw;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding-bottom: 2vh;
}

address {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.sm-contact-icons {
    height: 3vh;
    padding-right: 1vh;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(199deg) brightness(102%) contrast(101%);
}

.contact-icons {
    height: 5vh;
    margin-top: 0.5vw;
    margin-right: 1.25vw;
    filter: invert(73%) sepia(10%) saturate(1294%) hue-rotate(357deg) brightness(87%) contrast(84%);
}

.contact-image {
    max-width: 45vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* icon colors */
.about-icons, .project-icons, .contact-icons {
    transition-duration: 0.4s;
}

.about-icons:hover, .project-icons:hover {
    filter: invert(73%) sepia(10%) saturate(1294%) hue-rotate(357deg) brightness(87%) contrast(84%);
}

.contact-icons:hover {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(246deg) brightness(105%) contrast(102%);
}

/* media queries */
/* tablet */
@media (max-width: 1000px) {   
    /* diagonal background */
    .about::before {
        height: 65%; 
    }

    /* about content section */
    .about-content {
        margin-top: 20vh;
        margin-left: 39vw;
        max-width: 47vw;
    }

    .image-container {
        display: inline-block;
    }

    .about-image {
        float: left;
        max-height: 50vh;
        shape-outside: margin-box;
        margin-right: 3vw;
        display: block;
        margin-left: -70px;
        margin-top: -150px;
    }

    .image-text {
        position: absolute;
        top: 10vh;
        left: 13vw;
    }

    .about-header {
        margin-top: 4vh;
        text-align: center;
    }

    .about-text {
        margin-top: 14vh;
        margin-bottom: 2vh;
        margin-left: -40vw;
        padding: 5vh 5vw 8vw 5vw;
    }

    .about-icon-container {
        display: none;
    }

    /* project content section */
    .projects {
        margin-top: -12vh;
    }

    .card-section {
        gap: 3rem;
    }

    .project-card {
        max-width: 40vw;
    }

    .project-image {
        max-width: 40vw;
    }

    .project-card-header, .project-desc {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .project-icons {
        margin-left: 1.5vw;
    }

    /* contact content section */
    .contact {
        max-width: 10vw;
        margin-left: 4vw;
    }

    .contact-section {
        font-size: 2.5vh;
    }

    .contact-text {
        max-width: 50vw;
        padding-right: 10vw;
    }

    .contact-image {
        max-width: 35vw;
        margin-right: 2vw;
    }
}

/* phone */
@media (max-width: 500px) {
    /* diagonal background */
    .about::before {
        height: 35%; 
    }

    /* about content section */
    .about-content {
        max-width: 88vw;
    }

    .about-text {
        margin-top: 60vh;
        box-shadow: none;
        padding-top: 0px;
    }

    .about-image {
        max-width: 60vw !important;
        max-height: none;
        height: auto;
        margin-left: 70px;
        margin-top: -620px;
    }

    .image-text {
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-28%, -50%);
        white-space: nowrap;
    }

    .image-text h2 {
        font-size: 3vh;
    }

    .about-icon-container {
        display: flex;
        flex-shrink: 0;
        flex-direction: row-reverse;
        position: relative; 
        justify-content: center;
        margin-top: 10vh;
    }

    .about-icons {
        margin: 3vw;
    }

    /* projects content section */
    .projects {
        margin-top: -20vh;
    }

    .projects h2 {
        text-align: center;
    }

    .project-card {
        max-width: 88vw;
    }

    .project-image {
        max-width: 88vw;
    }

    .project-icons {
        margin-left: 3vw;
    }

    /* footer content section */
    .contact {
        max-width: 88vw; 
        margin: 0 auto;
        padding-bottom: 0;
    }

    .contact-section {
        flex-direction: column;
        margin-top: -5vh;
    }

    .contact-text h2 {
        text-align: center;
    }

    .contact-text {
        max-width: 100%;
        padding-right: 0; 
        margin-bottom: 3vh;
        font-size: 2vh;
    }

    .contact-icon-container {
        display: flex;
        justify-content: center;
        padding-bottom: 4vh;
    }

    .contact-icons {
        margin: 4vw;
    }

    .contact-image {
        width: 98vw;
        max-width: none;
        height: auto; 
        margin-top: 0; 
        margin-left: calc(-50vw + 50%); /* center the image */
        display: block; 
    }
}